@import "/src/shared/variables";
@import "/src/shared/theme";

.header {
  width: 100%;
  background-color: $header-bgcolor;
  box-sizing: border-box;
  height: $height-of-header;
  color: $light-color;
  font-size: $default-font-size-header;
  padding: $default-offset-one-quarter $default-offset-half;
}
