@import "/src/shared/variables";
@import "/src/shared/theme";

.wrapper {
  padding: $default-offset-half $default-offset;
  margin: $default-offset-half;
  background-color: $light-color;
  border-radius: 0.2rem;

  .up {
    display: flex;
    flex-direction: row;
    font-size: $default-font-size-big;

    span {
      font-weight: bold;
      color: $secondary-text-color;
    }

    h3 {
      font-size: $default-font-size-big;
    }
  }

  .down {
    display: flex;
    flex-direction: row;
    font-size: $default-font-size-small;
    color: $secondary-text-color;
    span {
      font-style: italic;
    }
    p {
      padding: 0 $default-offset-half;
    }
  }
}
