$primary-text-color: black;
$secondary-text-color: grey;
$header-bgcolor: rgb(87, 132, 228);
$light-color: white;
$content-wrapper-bgcolor: rgb(243, 243, 243);
$bgcolor-scrollbar-thumb: rgba(180, 177, 177, 0.822);
