$default-offset: 1rem;
$default-offset-double: $default-offset * 2;
$default-offset-half: $default-offset / 2;
$default-offset-one-quarter: $default-offset / 4;
$default-font-size: 1rem;
$default-font-size-header: $default-font-size * 3;
$default-font-size-big: $default-font-size * 1.2;
$default-font-size-small: $default-font-size * 0.9;
$width-of-child: 80%;
$height-of-header: 4rem;
