@import "/src/shared/variables";
@import "/src/shared/theme";

.story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $default-offset $default-offset-double;
  box-sizing: border-box;
  max-height: calc(100vh - $height-of-header);

  .story {
    width: 100%;

    .information {
      padding: $default-offset-half 0;
      p {
        margin-top: $default-offset-half;
      }
    }
  }
  .comments {
    font-size: 0.9rem;
    width: $width-of-child;
    background-color: $content-wrapper-bgcolor;
    padding: $default-offset $default-offset-double;
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: $content-wrapper-bgcolor;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $bgcolor-scrollbar-thumb;
      border-radius: 1px;
    }

    &::-webkit-scrollbar {
      width: $default-offset-half;
    }
  }
  hr {
    width: 90%;
    color: $primary-text-color;
  }

  .answers {
    display: flex;
    flex-direction: column;
  }

  .show-answers {
    &:hover {
      cursor: pointer;
      color: $primary-text-color;
    }
    text-decoration: underline;
  }
}
